@page
@model SellingSunsets.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="slide-right">
    <h2>About Us</h2>
    <p>This Selling Sunset Team is made up of talented real estate agents, business-minded professionals, creative marketers, and adorable personalities. Each member of our team has a specific and vital role to play in buying or selling home. Our team ranks among one of the top 10 Realtors in the Cincinnati area.</p>
</div>
<div class="slide-left">
    <h2>Our History</h2>
    <p>Eight years back we started the company in Cincinnati with the goal to aid people in finding their dream homes and have a smooth experience in the process. It just happened one fine evening we had been discussing about one of our friends who was having a hard time finding a property that she wanted to buy. And eventually we came up with the idea of getting into real estate. Our mission is to offer best for our customers and we strive to do it!</p>
</div>
<div class="about">
    <h2>About Our Team</h2>
    <div class="card-deck">
        <div class="card border-dark bg-info mb-3" style="width: 18rem;">
            <img src="~/images/parul.jpg" style="width:100%" class="card-img-top" alt="team_member1" />
            <div class="card-body">
                <h5 class="card-title">Parul Ranjan</h5>
                <p class="card-position">Marketing Coordinator</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">She has been a successful licensed Realtor since 2017, and has continued to follow her entrepreneurial passion over the years. She is fascinated by the power and reach of online marketing and her success can be seen as the volume of homes sold by the company consistently reaching over 50 homes per year.</li>
            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/parul-ranjan-12a3a3185/" class="card-link">LinkedIn</a>
            </div>
        </div>
        <div class="card border-dark bg-info mb-3" style="width: 18rem;">
            <img src="~/images/trishita.jpg" class="card-img-top" style="width:100%" alt="team_member2" />
            <div class="card-body">
                <h5 class="card-title">Trishita Aditya</h5>
                <p class="card-position">Buyer Specialist</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">As your real estate agent, she will be an advocate for you. Whether it be navigating the way for first time home buyers, relocating to Cincinnati, trying to score that perfect distressed property, or providing help in the luxury market, she will work tirelessly to promote your best interests.</li>

            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/trishita-aditya-04a849183/" class="card-link">LinkedIn</a>
            </div>
        </div>
        <div class="card border-dark bg-info mb-3" style="width: 18rem;">
            <img src="~/images/pallabi.jpg" class="card-img-top" style="width:100%" alt="team_member3" />
            <div class="card-body">
                <h5 class="card-title">Pallabi Das</h5>
                <p class="card-position">Operations Manager</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">As Operations Manager for selling sunset, she is trusted with many of the intricate details on the back-end of the real estate process. With over 7 years of real estate experience, she has earned the reputation for being a dedicated and hard-working professional in the industry, and known amongst our clients for her exemplary customer service.</li>
            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/pallabidas1811/" class="card-link">LinkedIn</a>
            </div>
        </div>
    </div>
</div>