@page
@model SellingSunsets.Pages.HelpModel
@{
        ViewData["Title"] = "Help Page";
   
}

<div class="help-center">
    <h2>We Deal with the following Four Classes</h2>
</div>
<div id="slider">
    <a href="#" class="control_next">></a>
    <a href="#" class="control_prev"><</a>
    <ul>
        <li style="background: #aaa;"><a href="/salesoffices">Sales Office</a></li>
        <li style="background: #aaa;"><a href="/agents">Agents</a></li>
        <li style="background: #aaa;"><a href="/dwellings">Dwellings</a></li>
        <li style="background: #aaa;"><a href="/cities">Cities</a></li>
    </ul>
</div>

<div class="client">
    <h1>How to navigate our website</h1>
    <div class="review1">
        <div class="rv_img1">
            <img src="~/images/help1.png" style="width:100%">
        </div>
        <div class="rv_text1">
            <p>All the four functionalities(Sales Offices, Agents, Dwellings and Cities) can be found in the navigation tab.</p>
        </div>
    </div>
    <div class="review2">
        <div class="rv_text2">
            <p>After clicking on anyone of them you will land on the index page of that particular functionality, where you can find option to create a new entry, edit an existing entry, delete an existing entry or view details of an existing entry, as shown in the screenshot.</p>
        </div>
        <div class="rv_img2">
            <img src="~/images/help2.png" width="500" height="200" >
        </div>
    </div>
    <div class="review3">
        <div class="rv_img3">
            <img src="~/images/help3.png" style="width:100%">
        </div>
        <div class="rv_text3">
            <p>If you want to create a new entry you can click on create and fill the form and submit.</p>
        </div>
    </div>
    <div class="review2">
        <div class="rv_text2">
            <p>If you want to view the details of an existing entry, click on details button and view the details.</p>
        </div>
        <div class="rv_img2">
            <img src="~/images/help4.png" style="width:100%">
        </div>
    </div>
    <div class="review3">
        <div class="rv_img3">
            <img src="~/images/help5.png" style="width:100%">
        </div>
        <div class="rv_text3">
            <p>If you want to delete an existing record, please click on the delete button and confirm the deletion. If you don't want to delete the record click on the cancel button.'</p>
        </div>
    </div>
    <div class="review2">
        <div class="rv_text2">
            <p>If you want to edit an existing entry, click on edit button and edit the field of your choice and save the edited value. All these four options: Create, Details, Edit and Delete are same for the four functionalities: Sales Offices, Agents, Dwellings and Cities</p>
        </div>
        <div class="rv_img2">
            <img src="~/images/help9.png" style="width:100%">
        </div>
    </div>
    <div class="review2">
        <div class="rv_img2">
            <img src="~/images/help6.png" width="500" height="200">
        </div>
        <div class="rv_text2">
            <p>Dwelling has an additional option of Search. You can search for a Dwelling based on Dwelling Name. Click on Search button for searching.</p>
        </div>
    </div>
    <div class="review2">

        <div class="rv_text2">
            <p>Enter the name you want to search in the search box and click on Search button.</p>
        </div>
        <div class="rv_img2">
            <img src="~/images/help7.png" style="width:100%">
        </div>
    </div>
    <div class="review2">
        <div class="rv_img2">
            <img src="~/images/help8.png" style="width:100%">
        </div>
        <div class="rv_text2">
            <p>If the name exists in the database the relevant results will be shown. Or else "no results found" message will be displayed.</p>
        </div>
    </div>
</div>
<div class="help-center-1">
    <h2><br />Hope that helps! Please reach out to us in case of any query. Thank you!</h2>
</div>