@page
@model SellingSunsets.Pages.Cities.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Cities</h1>

<h4>City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="City.CityId" />
            <div class="form-group">
                <label asp-for="City.CityName" class="control-label"></label>
                <input asp-for="City.CityName" class="form-control" />
                <span asp-validation-for="City.CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City.CityArea" class="control-label"></label>
                <input asp-for="City.CityArea" class="form-control" readonly="readonly"/>
                <span asp-validation-for="City.CityArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City.CityState" class="control-label"></label>
                <input asp-for="City.CityState" class="form-control" />
                <span asp-validation-for="City.CityState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City.CityCountry" class="control-label"></label>
                <input asp-for="City.CityCountry" class="form-control" />
                <span asp-validation-for="City.CityCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
