@page
@model RecruitCatRanjanpl.Pages.OurTeamModel
@{
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Penguin Global Recruiters</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" media="screen, projection">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/menus.js"></script>
</head>
<body id="home" class="no-js">
    <section id="actionCall">
        <h1>Explore the opportunities,<br />achieve your goals.</h1>
    </section>
    <div id="contentWrapper">
        <section id="mainContent">
            <div class="card-deck">
                <div class="card border-dark bg-info mb-3" style="width: 18rem;">
                    <img src="~/images/my_photo.jpg" class="card-img-top" alt="team_member1" />
                    <div class="card-body">
                        <h5 class="card-title">Parul Ranjan</h5>
                        <p class="card-position">CEO</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Master of Science in Information Systems, BE in Computer Science. 4 years of IT experince as a Developer. Skilled in Python, R, Hybris E-Commerce and Java.</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://www.linkedin.com/in/parul-ranjan-12a3a3185/" class="card-link">LinkedIn</a>
                    </div>
                </div>
                <div class="card border-dark bg-info mb-3" style="width: 18rem;">
                    <img src="~/images/team3.jfif" class="card-img-top" alt="team_member2" />
                    <div class="card-body">
                        <h5 class="card-title">Phoebe Buffay</h5>
                        <p class="card-position">Advisor</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Master of Science in BANA, BE in Computer Science. 5 years of IT experince as an Analyst. Skilled in Python, R, Hybris E-Commerce and Java. Loves to play guitar and skilled in song writing</li>
                           
                    </ul>
                    <div class="card-body">
                        <a href="https://www.linkedin.com/in/parul-ranjan-12a3a3185/" class="card-link">LinkedIn</a>
                    </div>
                </div>
                <div class="card border-dark bg-info mb-3" style="width: 18rem;">
                    <img src="~/images/team2.jfif" class="card-img-top" alt="team_member3" />
                    <div class="card-body">
                        <h5 class="card-title">Joey Tribiani</h5>
                        <p class="card-position">Consultant</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Master of Science in Information Systems, BE in Computer Science. 4 years of IT experince as a Developer. Skilled in Python, R, Hybris E-Commerce and Java.</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://www.linkedin.com/in/parul-ranjan-12a3a3185/" class="card-link">LinkedIn</a>
                    </div>
                </div>
            </div>
        </section>
        <aside id="secondaryContent">
            <div class="side_content">
                <p>Meet</p>
                <p>Our</p>
                <p>Leaders</p>
                <p>And</p>
                <p>Pave</p>
                <p>Your</p>
                <p>Path</p>
                <p>For</p>
                <p>Success..</p>
            </div>
        </aside>
    </div>
</body>
</html>